VITE_SUPABASE_URL=https://efooanfcfhhqhrlirhim.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmb29hbmZjZmhocWhybGlyaGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NjI5MzYsImV4cCI6MjA4OTMzODkzNn0.ZpDLXs56xN4Y3sfFdrZF2yo97_ge1os530jB8isksBM
